@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-image: url('../../assets/wallpaper/wallpaper1.jpg'); /* ajuste o nome exato da imagem */
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}