@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background:
    linear-gradient(rgba(8, 6, 4, 0.55), rgba(8, 6, 4, 0.55)),
    url('../../assets/wallpaper/wallpaper1.jpg') center center / cover no-repeat fixed;

  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}

/*
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:
    linear-gradient(rgba(8, 6, 4, 0.55), rgba(8, 6, 4, 0.55)),
    url('../../assets/wallpaper/wallpaper1.jpg') center center / cover no-repeat fixed;
}*/