:root {
--text-light:#fff;
--bg-form:#0000005c;
--border:rgb(75, 75, 75);
--bg-transparent: #0000004a;
}

h1 {
  color:var(--text-light);
  font-weight: bold;
  font-family: 'MedievalSharp', cursive; 
}

form {
    display: flex;
    width: 100%;
    padding: 10px !important;
    font-family: 'MedievalSharp', cursive;
    flex-direction: column;
    background:var(--bg-form);
}

span {
    display: flex;
    color: var(--text-light);
    margin: 5px;
}

input {
    color: var(--text-light);
    background: var(--bg-transparent);
    border: 1.5px solid var(--border);
    border-radius: 10px;
    padding: 3px 10px 3px 10px !important;
}

